/* COLOR PALETTE
BUTTONS: c94242
Text/Footer: 2E2E2E
Sec. Text/: B0B0B0
Background/Cards: F5F5F5
Hover States/Articles: E0E0E0

 */

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    background-color: #F5F5F5;
}

header {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
}

header img {
    display: block;
    width: 100%;
    height: 100%;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F5F5F5;
    text-shadow: black 2px 3px;
}

nav {
    width: 60%;
    display: block;
    margin: auto;
    padding-left: 22px;
}

nav a {
    display: inline-block;
    width: 200px;
    padding: 5px 5px 5px 10px;
    text-align: center;
    color: #B0B0B0;
    background-color: #2E2E2E;
}

nav a:hover {
    background-color: #E63232;
}

section {
    width: 60%;
    margin: auto;
    display: block;
}

article {
    margin-top: 10px;
    background-color: #E0E0E0;
}

article h2 {
    text-align: left;
    color: #2E2E2E;
    margin: 5px 0 5px 10px;
    padding-top: 10px;
}

article hr {
    height: 2px;
    background-color: #2E2E2E;
    color: #2E2E2E;
}

article p {
    text-align: left;
    color: #2E2E2E;
    margin: 5px 0 5px 10px;
}

a {
    text-decoration: none;
    color: #2E2E2E;
}

a:visited {
    color: #2E2E2E;
    text-decoration: none;
}

a:active {
    color: #2E2E2E;
    text-decoration: none;
}

div {
    height: 10px;
    width: 100%;
    display: block;
    background-color: #E63232;
}

footer {
    background-color: #2E2E2E;
    height: 10%;
    margin: 10px 0 0 0;
}

footer p {
    display: inline-block;
    color: #B0B0B0;
    margin: 10px 0 10px 10px;
}