body {
    font-family: "Poppins", sans-serif;
    color: #16404D;
    background-color: #FBF5DD;
    box-sizing: border-box;
    max-width: 850px;
    margin: auto;
}

* {
    box-sizing: inherit;
}

header {
    text-align: center;
    width: inherit;
    height: 300px;
}

header h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 0;
    top: 22px;
    left: 0;
}

#header-background-image {
    width: 850px;
    height: 300px;
    object-fit: fill;
}

#top-nav {
    text-align: center;
}

#nav-container {
    background-color: #A6CDC6;
    margin-bottom: 20px;
    padding: 5px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: #364442;
}

a {
    color: #8a6832;
}

#top-nav a {
    display: inline-block;
    width: 100px;
    background-color: #FBF5DDFF;
    text-decoration: none;
    height: 25px;
}

#top-nav a:hover{
    background-color: #DDA853;
    color: #4e3811;
}

.actions {
    display: inline-block;
    width: 64px;
    text-align: center;
}

.info-box {
    background-color: #A6CDC6;
    padding: 15px;
    margin-top: 20px;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #364442;
}

.info-box hr {
    border: 1px solid #222222;
}

.info-box h2 {
    margin: 5px;
}

table {
    margin:auto;
}

th {
    text-align: left;
    padding-left: 5px;
}

td {
    padding: 5px;
}

#form-box {
    width: inherit;
}

.form-label {
    display: inline-block;
    width: 100px;
}

input {
}

footer {
    background-color: #DDA853;
    padding: 15px;
    margin-top: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #4e3b1e;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}
