body {
    font-family: "Poppins", sans-serif;
    color: #16404D;
    background-color: #FBF5DD;
    box-sizing: border-box;
    max-width: 850px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

* {
    box-sizing: inherit;
}

.center {
}

header {
    text-align: center;
}

header h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 0;
    top: 22px;
    left: 0;
}

#header-background-image {
    width: 850px;
    height: 300px;
    object-fit: fill;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

div {
    width: 100%;
}

a {
    color: #8a6832;
}

.info-box {
    background-color: #A6CDC6;
    padding: 15px;
    margin-top: 20px;
    border-radius: 25px;
}

.info-box hr {
    border: 1px solid #222222;
}

.info-box h2 {
    margin: 5px;
}

#form-box {
    width: inherit;
}

.form-label {
    display: inline-block;
    width: 100px;
}

input {
}

footer {
    background-color: #DDA853;
    padding: 15px;
    margin-top: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}
