<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attraction Fragments</title>
</head>
<body>
        <!--
        Sætter et fragment ved hjælp af th:fragment
        === FORM FRAGMENTS ===
        De her burde nok smides ind i _formElements
        Alle tager imod et attraction object.
        -->
        <a class="actions" th:fragment="showAttractionTags(attraction)" th:action="@{'/attractions/' + ${attraction.name} + '/tags'}">
            <button type="submit">Tags</button>
        </a>
        <a th:fragment="newAttractionForm(pageRef)" th:href="@{'/attractions/add?pageRef=' + ${pageRef}}">
            <button type="submit">Register</button>
        </a>
        <a class="actions" th:fragment="updateAttractionForm(attraction, pageRef)" th:href="@{'/attractions/' + ${attraction.name} + '/edit?pageRef=' + ${pageRef}}">
            <button type="submit">Edit</button>
        </a>
        <form class="actions" th:fragment="deleteAttraction(attraction)" th:action="@{'/attractions/delete/' + ${attraction.name}}" method="post">
            <button type="submit">Delete</button>
        </form>
</body>
</html>