<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attraction Fragments</title>
</head>
<body>

        <!--
        === LINK FRAGMENTS ===
        -->
        <a th:fragment="showAllAttractions" href="/attractions" target="_blank">GET http://localhost:8080/attractions</a>
        <a th:fragment="showAttraction" href="/attractions/tivoli" target="_blank">GET http://localhost:8080/attractions/tivoli</a>

        <!--
        Sætter et fragment ved hjælp af th:fragment
        === FORM FRAGMENTS ===
        De her burde nok smides ind i _formElements
        Alle tager imod et attraction object.
        -->
        <form th:fragment="showAttractionTags(attraction)" th:action="@{/attractions/{name}/tags(name=${attraction.name})}" method="get">
            <button type="submit">Tags</button>
        </form>
        <form th:fragment="newAttractionForm(attraction)" th:action="/attractions/add" method="get">
            <button type="submit">Opret</button>
        </form>
        <form th:fragment="updateAttractionForm(attraction)" th:action="@{/attractions/{name}/edit(name=${attraction.name})}" method="get">
            <button type="submit">Rediger</button>
        </form>
        <form th:fragment="deleteAttraction(attraction)" th:action="@{attractions/delete/{name}(name=${attraction.name})}" method="post">
            <button type="submit">Delete</button>
        </form>
</body>
</html>