<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attraction Fragments</title>
</head>
<body>
        <!--
        Sætter et fragment ved hjælp af th:fragment
        === FORM FRAGMENTS ===
        De her burde nok smides ind i _formElements
        Alle tager imod et attraction object.
        -->
        <form class="actions" th:fragment="showAttractionTags(attraction)" th:action="@{/attractions/{name}/tags(name=${attraction.name})}" method="get">
            <button type="submit">Tags</button>
        </form>
        <form th:fragment="newAttractionForm" th:action="@{/attractions/add}" method="get">
            <button type="submit">Register</button>
        </form>
        <form class="actions" th:fragment="updateAttractionForm(attraction)" th:action="@{/attractions/{name}/edit(name=${attraction.name})}" method="get">
            <button type="submit">Edit</button>
        </form>
        <form class="actions" th:fragment="deleteAttraction(attraction)" th:action="@{attractions/delete/{name}(name=${attraction.name})}" method="post">
            <button type="submit">Delete</button>
        </form>
</body>
</html>