<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:fragment="header">
        <img id="header-background-image" src="../static/images/headerImage.webp" alt="Illustration of central Copenhagen">
        <h1>TOURIST GUIDE</h1>
    </header>

    <nav th:fragment="topNav">

    </nav>

    <footer th:fragment="footer">
        <p>
            Tourist Guide API<br>
            Tlf. 00 00 00 00 <br>
            CVR-Nummer 00000000
        </p>
    </footer>
</body>
</html>