<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Attraction</title>
</head>
<body>
    <div class="form-wrapper">
        <form action="#" th:action="@{/attractions/add}" th:object="${attraction}" method="post">
            <h2>Register an attraction</h2>

            <div>
                <label for="name">Name</label>
                <input type="text" id="name" th:field="*{name}" required>
            </div>

            <div>
                <label for="description">Description</label>
                <textarea id="description" th:field="*{description}" required></textarea>
            </div>

            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>