<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Attraction</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>
<header th:replace="~{/fragments/_commonElements :: header}"></header>
<nav th:replace="~{/fragments/_commonElements :: topNav}"></nav>
<main>
    <section class="info-box">
        <article>
            <div th:replace="~{/fragments/_formElements :: formWrapperSave(attraction=${attraction})}"></div>
        </article>
    </section>
</main>
<footer th:replace="~{/fragments/_commonElements :: footer}"></footer>
</body>
</html>