<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Attraction</title>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="/fragments/_commonElements :: header"></header>
<nav th:replace="/fragments/_commonElements :: topNav"></nav>
    <section class="center">
        <article class="info-box" th:object="${byName}">
            <h2 th:text="*{name}"></h2>
            <p th:text="*{description}"></p>
            <p th:text="*{city}"></p>
            <table>
                <tr th:each="tags :${byName.getSelectedTags}">
                    <td th:text="${tags.name}"></td>
                </tr>
            </table>
        </article>
    </section>
<footer th:replace="/fragments/_commonElements :: footer"></footer>
</body>
</html>