<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attraction Tags</title>
    <link href="/style/style.css" rel="stylesheet" />
</head>
<body>
    <section class="center">
        <article class="info-box" th:object="${attraction}">
            <h2 th:text="*{name}"></h2>
            <ul>
                <li th:each="tag : ${attraction.getSelectedTags}" th:text="${tag.name}"></li>
            </ul>
        </article>
    </section>
</body>
</html>