<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Attraction</title>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<header th:replace="~{/fragments/_commonElements :: header}"></header>
<nav th:replace="~{/fragments/_commonElements :: topNav}"></nav>
<main>
    <section>
        <article class="info-box" th:object="${byName}">
            <p>Bruges mest til dokumentation at det virker</p>
            <h2 th:text="*{name}"></h2>
            <p th:text="*{description}"></p>
            <p th:text="*{city}"></p>
            <table>
                <tr th:each="tags :${byName.getSelectedTags}">
                    <td th:text="${tags.name}"></td>
                </tr>
            </table>
        </article>
    </section>
</main>
<footer th:replace="~{/fragments/_commonElements :: footer}"></footer>
</body>
</html>