<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attraction Tags</title>
    <link th:href="@{/style/style.css}" rel="stylesheet" />
</head>
<body>
<header th:replace="~{/fragments/_commonElements :: header}"></header>
<nav th:replace="~{/fragments/_commonElements :: topNav}"></nav>
<main>
    <section>
        <article class="info-box" th:object="${attraction}">
            <h2 th:text="*{name}"></h2>
            <ul>
                <li th:each="tagList : ${attraction.getSelectedTags}" th:text="${tagList.name}"></li>
            </ul>
        </article>
    </section>
</main>
<footer th:replace="~{/fragments/_commonElements :: footer}"></footer>
</body>
</html>