<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/style/style.css" rel="stylesheet">
</head>
<body class="center">
    <section>
        <article id="form-box" class="info-box">
            <form action="#" th:action="@{/attractions/update}" th:object="${attraction}" method="post">
                <div>
                    <label class="form-label">Name:</label>
                    <!--
                    <input type="hidden" th:field="${attractionId}">
                    -->
                    <input type="text" th:field="*{name}" readonly>
                </div>
                <div>
                    <label class="form-label">Description:</label>
                    <input type="text" th:field="*{description}">
                </div>
                <div>
                    <label class="form-label">By:</label>
                    <input type="text" th:field="*{city}">
                </div>
                <div>
                    <label class="form-label">Tags:</label>
                    <table>
                        <tr th:each="tagsList : ${tags}">
                            <input th:if="${tagsList.name == attraction.getTagList.contains(name)}" th:value="${tagsList}" th:text="${tagsList.name}" type="checkbox" checked>
                            <input th:unless="${tagsList.name == attraction.getTagList.contains(name)}" th:value="${tagsList}" th:text="${tagsList.name}" type="checkbox">
                    </table>
                </div>
                <div>
                    <button type="submit">Edit</button>
                </div>
            </form>
        </article>
    </section>
</body>
</html>