<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style/style.css}" rel="stylesheet">
</head>
<body>
<header th:replace="/fragments/_commonElements :: header"></header>
<nav th:replace="/fragments/_commonElements :: topNav"></nav>
    <section class="center">
        <article id="form-box" class="info-box">
            <div class="form-wrapper">
                <form action="#" th:action="@{/attractions/update}" th:object="${attraction}" method="post">
                    <div>
                        <label for="name" class="form-label">Name:</label>
                        <input id="name" type="text" th:field="*{name}" readonly>
                    </div>
                    <div>
                        <label for="description" class="form-label">Description:</label>
                        <input id="description" type="text" th:field="*{description}">
                    </div>
                    <div>
                        <label for="city" class="form-label">By:</label>
                        <input id="city" type="text" th:field="*{city}">
                    </div>

    <!--            Har ændret containeren for checkboxes til et mere semantisk korrekt tag
                    Det forsager at vores checkboxes kommer under hinanden, men det er nemt at fikse med CSS-->
                    <fieldset id="checkboxes">
                        <div th:each="tag : ${tags}">
                            <label for="checkbox" th:for="${tag.name}" th:text="${tag.name}"></label>
                            <input id="checkbox" type="checkbox" th:id="${tag.name}" th:field="*{selectedTags}" th:value="${tag}" th:attrappend="checked=${attraction.getSelectedTags.contains(tag.name)}">
                        </div>
                    </fieldset>
                    <div>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </article>
    </section>
<footer th:replace="/fragments/_commonElements :: footer"></footer>
</body>
</html>