<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/style/style.css" rel="stylesheet">
</head>
<body class="center">
    <section>
        <article id="form-box" class="info-box">
            <form action="#" th:action="@{/attractions/update}" th:object="${attraction}" method="post">
                <div>
                    <label class="form-label">Name:</label>
                    <input type="text" th:field="*{name}" readonly>
                </div>
                <div>
                    <label class="form-label">Description:</label>
                    <input type="text" th:field="*{description}">
                </div>
                <div>
                    <label class="form-label">By:</label>
                    <input type="text" th:field="*{city}">
                </div>

<!--            Har ændret containeren for checkboxes til et mere semantisk korrekt tag
                Det forsager at vores checkboxes kommer under hinanden, men det er nemt at fikse med CSS-->
                <fieldset id="checkboxes">
                    <div th:each="tag : ${tags}">
                        <label th:for="${tag.name}" th:text="${tag.name}"></label>
                        <input type="checkbox" th:id="${tag.name}" th:field="*{selectedTags}" th:value="${tag}" th:attrappend="checked=${attraction.getSelectedTags.contains(tag.name)}">
                    </div>
                </fieldset>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </article>
    </section>
</body>
</html>